<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    
    <typeAliases>
        <typeAlias alias="usersDto" type="com.gbg.member.model.UsersDto"/>
        <typeAlias alias="guestHouseDto" type="com.gbg.host.model.GuestHouseDto"/>
        <typeAlias alias="ListDto" type="com.gbg.list.model.ListDto"/>
    </typeAliases>
    
    <mappers>
    <mapper resource="com/gbg/config/mybatis/insueng.xml"/>
        <mapper resource="com/gbg/config/mybatis/users.xml"/>
       <!-- <mapper resource="com/gbg/config/mybatis/sangkuk.xml"/>
        <mapper resource="com/gbg/config/mybatis/jieun.xml"/>  
       -->
        <mapper resource="com/gbg/config/mybatis/juhee.xml"/>
     
        <mapper resource="com/gbg/config/mybatis/sungjun.xml"/>
    </mappers>
    
    
</configuration>