<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

        <typeAliases>
                <typeAlias alias="usersDto" type="com.gbg.member.model.UsersDto"/>
                <typeAlias alias="guestHouseDto" type="com.gbg.host.model.GuestHouseDto"/>
                <typeAlias alias="ListDto" type="com.gbg.list.model.ListDto"/>
                <typeAlias alias="houseDto" type="com.gbg.house.model.HouseDto"/>
                <typeAlias alias="roomDto" type="com.gbg.host.model.RoomDto"/>
                <typeAlias alias="boardListDto" type="com.gbg.admin.board.model.BoardListDto"/>
                <typeAlias alias="reboardDto" type="com.gbg.board.model.ReboardDto" />
                <typeAlias alias="boardDto" type="com.gbg.board.model.BoardDto" />
                <typeAlias alias="stopbyDto" type="com.gbg.board.model.StopbyDto" />
        </typeAliases>
        
        <mappers>
                <mapper resource="com/gbg/config/mybatis/users.xml"/>
                <mapper resource="com/gbg/config/mybatis/sangkuk.xml"/>
                
                <mapper resource="com/gbg/config/mybatis/common.xml"/>
                <mapper resource="com/gbg/config/mybatis/boardadmin.xml"/>
                <mapper resource="com/gbg/config/mybatis/reboard.xml"/>
                <mapper resource="com/gbg/config/mybatis/mapboard.xml"/>
            
                <mapper resource="com/gbg/config/mybatis/juhee.xml"/>
                <mapper resource="com/gbg/config/mybatis/insueng.xml"/>
                <mapper resource="com/gbg/config/mybatis/sungjun.xml"/>
                <mapper resource="com/gbg/config/mybatis/admin.xml"/>
        </mappers>
</configuration>

